<section class="container_about" id="about">

    <div class="about">

        <div class="about_me">
            <figure class="about_me_img">
                <img src="../../../assets/cvfoto.jpg" class="img">
            </figure>
            <div class="about_me_icon">
                <a href="https://github.com/rubenxho" target="_blank" title="github"><i class="icon--size fab fa-github-square"></i></a>
                <a href="https://www.linkedin.com/in/rubenrivas15/" target="_blank" title="linkedin"><i class="icon--size fab fa-linkedin"></i></a>
                <a href="mailto:ruben_rivas10@hotmail.com" title="email" target="_blank" Subject="Portafolio Web Ruben Rivas"><i class="icon--size fas fa-envelope-square"></i></a>
            </div>
            <div class="about_me_text">
                <p class="text">
                     &nbsp; Mi nombre es Ruben Rivas, soy un apasionado por la tecnologia y el desarrolo web.
                    me considero una persona autodidacta, curiosa, habituado al trabajo en equipo 
                    y siempre que puedo intento aprender nuevas tecnologias.
                    <br><br>
                    Me encantaria formar parte de un proyecto que me permita dejar mi marca en la web 
                    y seguir desallorandome profesionalmente.
                </p>
            </div>
        </div>
        
        <div class="about_tecnologias">
            <p class="title">Tecnologias</p>

            <div class="about_tecnologias_box" >
                <div class="about_tecnologias_box_cuadro about_tecnologias_box_cuadro--primero">
                    <i class="icon icon--html fab fa-html5"></i>
                    <p class="text text--html">HTML</p>
                </div>
                <div class="about_tecnologias_box_cuadro about_tecnologias_box_cuadro--segundo">
                    <i class="icon icon--css fab fa-css3-alt"></i>
                    <p class="text text--css">CSS</p>
                </div>
                <div class="about_tecnologias_box_cuadro about_tecnologias_box_cuadro--tercero">
                    <i class="icon icon--ng fab fa-angular"></i>
                    <p class="text text--ng">Angular</p>
                </div>
                <div class="about_tecnologias_box_cuadro about_tecnologias_box_cuadro--cuarto">
                    <i class="icon icon--js fab fa-js-square"></i>
                    <p class="text text--js">JavaScript</p>
                </div>
                <div class="about_tecnologias_box_cuadro about_tecnologias_box_cuadro--quinto">
                    <i class="icon icon--ts fab fa-js-square"></i>
                    <p class="text text--ts">TypeScript</p>
                </div>
                <div class="about_tecnologias_box_cuadro about_tecnologias_box_cuadro--sexto">
                    <i class="icon icon--node fab fa-node"></i>
                    <p class="text text--node">NodeJs</p>
                </div>
                <div class="about_tecnologias_box_cuadro about_tecnologias_box_cuadro--septimo">
                    <i class="icon icon--mysql fas fa-database"></i>
                    <p class="text text--mysql">MySQL</p>
                </div>
                <div class="about_tecnologias_box_cuadro about_tecnologias_box_cuadro--octavo">
                    <i class="icon icon--mongo fas fa-database"></i>
                    <p class="text text--mongo">MongoDB</p>
                </div>
                <div class="about_tecnologias_box_cuadro about_tecnologias_box_cuadro--novena">
                    <i class="icon icon--api fas fa-cloud-upload-alt"></i>
                    <p class="text text--api">API REST</p>
                </div>
                
            </div>
            
        </div>

    </div>

</section>
