<section class="container_inicio" id="inicio">

    <div class="inicio">
        <p class="inicio_text" >Ruben Rivas Briceño</p>
        <p class="inicio_text inicio_text--color" >Junior Full Stack Developer</p>
        <div class="inicio_btn">
            <a class="btn" href="../../../assets/CVRuben_Rivas.pdf" download="CV Ruben Rivas"><i class="fas fa-file-download"></i> &nbsp; Descargar mi CV</a>
        </div>
        <a href="#about"><i class="fas fa-angle-double-down"></i></a>
    </div>
    
</section>






