.container_inicio{
    background-image: linear-gradient(rgba(0, 0, 0, 0.750), rgba(0, 0, 0, 0.750)),url(../../../assets/laptop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding: 0.1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio{
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px 160px;
}

.inicio_btn{
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--tertiaryColor);
    color: white;
    text-decoration: none;
    transition: all 1s;
    font-size: 1rem;
    font-family: var(--secondaryFont);
    box-shadow: 2px;
}

.btn:hover{
    border: 1px solid transparent;
    background-color: var(--tertiaryColor);
}

.inicio_text{
    color: white;
   font-size: 60px;
   font-family: var(--primaryFont);
   text-align: center;
}

.inicio_text--color{
    color: var(--tertiaryColor);
    
}

.fa-angle-double-down{
    color: var(--quaternaryColor);
    font-size: 40px;
}