<section class="container_portafolio" id="portafolio" #menuPortafolio>
    
    <div class="portafolio">
        <p class="title">Portafolio</p>
        <p class="text">Alguno de los proyectos en los que he trabajo.</p>

        <div class="portafolio_cards">

            <figure *ngFor="let proyecto of proyectos" class="portafolio_cards_box">
                <img src="{{proyecto.img}}" class="img">
        
                <figcaption class="portafolio_cards_box_text">
                    <p class="card_title"> {{proyecto.titulo}}</p>
                    <p class="card_text">{{proyecto.descripcion}} </p>
                    <p class="card_text">{{proyecto.tecnologias}}</p>
                    <div class="portafolio_cards_box_text_btn">
                        <a class="btn" href="{{proyecto.link_web}}" target="_blank" title="Web {{proyecto.titulo}}"> <i class="fas fa-globe"></i> Sitio web</a>
                        <a class="btn" href="{{proyecto.link_git}}" target="_blank" title="Git {{proyecto.titulo}}"> <i class="fab fa-github"> Repositorio</i></a>
                    </div>
                </figcaption>
            </figure>

        </div>
        
    </div>

    <!-- Efecto ola -->
    <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(26, 26, 26);"></path></svg></div>

</section>
