<section class="container_contacto" id="contacto">

    <div class="contacto">
        <div class="contacto_box">
            <p class="tittle">Contacto</p>

            <div class="contacto_box_enlaces">
                <a href="mailto:ruben_rivas10@hotmail.com" title="email" target="_blank" class="contacto_box_enlace"><i class="icon fas fa-envelope-square"></i></a>
                <a href="https://www.linkedin.com/in/rubenrivas15/" target="_blank" title="linkedin" class="contacto_box_enlace"><i class="icon fab fa-linkedin"></i></a>
                <a href="https://github.com/rubenxho" target="_blank" title="github" class="contacto_box_enlace"><i class="icon fab fa-github-square"></i></a>
            </div>
    
            <p class="footer"> <i class="far fa-copyright"></i> 2021 Ruben Rivas Portafolio </p>  
        </div>
        
    </div>
</section>
